<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.


If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Course</h1>

<f:flashMessages />

<table  class="tx_studyvisualizer" >
	<tr>
		<th><f:translate key="tx_studyvisualizer_domain_model_course.title" /></th>
		<th><f:translate key="tx_studyvisualizer_domain_model_course.description" /></th>
		<th><f:translate key="tx_studyvisualizer_domain_model_course.ects" /></th>
		<th><f:translate key="tx_studyvisualizer_domain_model_course.sws" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{courses}" as="course">
		<tr>
			<td><f:link.action action="show" arguments="{course : course}"> {course.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{course : course}"> {course.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{course : course}"> {course.ects}</f:link.action></td>
			<td><f:link.action action="show" arguments="{course : course}"> {course.sws}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{course : course}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{course : course}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Course</f:link.action>
</f:section>