<label for="title">
	<f:translate key="tx_studyvisualizer_domain_model_course.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_studyvisualizer_domain_model_course.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="ects">
	<f:translate key="tx_studyvisualizer_domain_model_course.ects" />
</label><br />
	<f:form.textfield property="ects" /><br />
<label for="sws">
	<f:translate key="tx_studyvisualizer_domain_model_course.sws" />
</label><br />
	<f:form.textfield property="sws" /><br />